$bg-col: #091211;  // #090e11;
$bg-col-other:  #10191F;
$mid-col: #939F90; // #FFB570;
$mid-light-col: #595D3A; // #3A5A40;
//$hi-col: // #DAD7CD;
$font-col: #F7EAAB; // #D6C98C;
$active-col: #40F99B;
$contrast-col: #A55F33;