@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Josefin+Sans:wght@200&family=Nanum+Gothic&family=Nunito:wght@300&display=swap');




$bg-col: #090e11;
$bg-col-other: #10191F;
$mid-col: #344E41;
$mid-light-col: #3A5A40;
$hi-col: #DAD7CD;
$font-col: #A3B18A;
$active-col: #40F99B;
$contrast-col: #FFAB5C;

@import "mobile"; ////Must come after variables are defined ^
@import "desktop";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: $bg-col;
    color: $font-col;
    font-family: "Cormorant";
    
}


nav {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}



p {
    font-family: "Nanum Gothic";
    font-size: 1rem;
}

label {

    opacity: 0;
    transition: opacity 0.3s;
}

label:hover {

    color: $active-col;
    opacity: 1;
}

button {
    background-color: $mid-col;
    transition: background-color 0.3s;
}

button:hover {

    background-color: $active-col;
}


footer {

    background-color: $bg-col-other;
    height: 2rem
}








