@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Josefin+Sans:wght@200&family=Nanum+Gothic&family=Nunito:wght@300&display=swap');



$bg-col: #090e11;
$bg-col-other: #10191F;
$mid-col: #344E41;
$mid-light-col: #3A5A40;
$hi-col: #DAD7CD;
$font-col: #A3B18A;
$active-col: #40F99B;
$contrast-col: #FFAB5C;

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: $bg-col;
    color: $font-col;
    font-family: "Cormorant";
    
}


nav {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}



p {
    font-family: "Nanum Gothic";
    font-size: 1rem;
}

label {

    opacity: 0;
    transition: opacity 0.3s;
}

label:hover {

    color: $active-col;
    opacity: 1;
}



@media screen and (min-width: 320px) {

    

    section {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    nav{

        h1 {

            padding: 0.5rem;
            font-size: 2.5rem;
        }
    }

    #Home {

        margin: 1rem;
        padding: 1rem;
        
        border: 2px solid $font-col;


        fieldset {

            border: 2px solid $font-col; 
                legend {
                    margin: 1rem;
                    line-height: 4rem;
                    font-size: 3rem;
                    text-underline-offset: 2rem;
                    color: $contrast-col;
                    
                    
                    u{
                        color: $contrast-col;
                    }
                    
                }
            }

            p {
                margin-top:4rem;
                padding: 2rem;
                color: $hi-col;
                font-size: 1rem;
            }
    }

    

    
    #Portfolio {

        margin: 1rem;
        padding:1rem;
        

        border: 2px solid $font-col;

        fieldset {

            border: 2px solid $font-col; 
                legend {
                    
                    color:$contrast-col;
                    padding:1rem;
                    font-size: 3rem;
                    
                }
            }
        
            #Projects {

                margin:1rem;
                font-size: 1.75rem;

                img {

                    margin: 4rem;
                }

                .project {

                    display:grid;
                    grid-template-columns: 0.1fr 0.1fr 0.5fr;
                    grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr;
                    row-gap: 0.6rem;

                        img {
                            grid-column: 1 span 2;
                        }
                    
                        h3 {
                            grid-row-start: 2;
                            grid-column-start: 1 span 2;
                            text-underline-offset: 0.5rem;

                        }

                        .rectangle-button {

                            width: 5rem;
                            height: 2rem;
                            background-color: $mid-col;
                            color: $hi-col;
                            letter-spacing: 0.2rem;
                            border: 0;
                            border-radius: 0.15rem;
                            font-size: 1rem;
                            
                            grid-row-start: 4;
                        }

                        .round-button {

                            background-color: $mid-col;
                            width: 3rem;
                            height: 3rem;
                            border: none;
                            border-radius: 50%;
                            padding-bottom: 0.7rem;
                            grid-row-start: 3;
                            grid-column-start: 1 span 2;
                        }

                }


            }

    }


    #About {

        margin: 1rem;
        
        padding: 1rem;
        border: 2px solid $font-col;

        fieldset {

            border: 2px solid $font-col; 
                legend {
                    
                    color:$contrast-col;
                    padding:1rem;
                    font-size: 3rem;
                    
                    text-underline-offset: 2rem;

                    u {
                        color: $contrast-col;
                    }
                    
                }


                p {
                    margin-top:2rem;
                    padding: 0.5rem;
                    color: $hi-col;
                    font-size: 1rem;
                }
            }

        

        img {

            margin:6rem;
        }

        p {
            margin:1rem;
        }

    }
    

    #Experience-and-Interests{

        margin:1rem;
        padding: 0rem;
        gap: 1rem;

        #experience-fieldset {

                border: 2px solid $font-col; 
                legend {
                    
                    color:$contrast-col;
                    padding:1rem;
                    font-size: 3rem;
                    
                    text-underline-offset: 2rem;

                    u {
                        color: $contrast-col;
                    }
                    
                }
        }

        #interest-fieldset {

            border: 2px solid $font-col;
            border-left: none; 
            legend {
                
                color:$contrast-col;
                padding:1rem;
                font-size: 3rem;
                border-right: none;
                text-underline-offset: 2rem;

                u {
                    color: $contrast-col;
                }
                
            }
    }

        .drop-list__container{

            margin:0rem;
        }

        .drop{
            display:flex;
            flex-direction: row;
            border: 2px solid $mid-col;
            border-radius: 2px;
            padding: 1rem;
        }

        input{
            appearance:none;
            margin: rem;
            background: $mid-col;
            border: none;
            border-radius: 4px;
            height: 1.75rem;
            width: 5rem;
            transition: rotate 0.3s;
            
        }

        .drop-p {

            opacity: 0;
            transition: opacity 0.3s;
        }

        input:checked {

            appearance:none;
            background: $font-col;
            border: none;
            height: 1.6rem;
            width: 4.9rem;
            transform: rotate(45deg);

            

        }

        

        
    }



    #Contact {


        margin:1rem;
        margin-top: 4rem;
        padding:1rem;
        font-size: 1.75rem;
        border: 2px solid $font-col;
        border-top: none;
        text-align: center;
        

        fieldset {

            border: 2px solid $font-col; 
            legend {
                    
                    color:$contrast-col;
                    padding:1rem;
                    font-size: 3rem;
                    
                    text-underline-offset: 2rem;

                    
                    
                }
            h5 {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 2rem;
            }
    }

}

} ///////////////////////Media width phone////////////////////